<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hdh.mall.all">


    <application
        android:name=".MuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:textAllCaps="false"
        tools:replace="android:label"
        android:label="${shop_app_name}${shop_app_suffix}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    </application>
</manifest>
